/* Bouton Déconnexion */
.btn-deconnexion {
    width: 50%;
    background-color: #ffffff; /* Fond blanc */
    color: #1A237E; /* Texte bleu */
    font-weight: bold;
    padding: 3vw;
    font-size: 1rem;
    border: 2px solid #1A237E; /* Bordure bleue */
    border-radius: 10vh; /* Bordure arrondie */
    cursor: pointer;
    margin: 10px auto; /* Centrer les boutons et ajouter un espacement */
    display: block; /* S'assurer que le bouton prend toute la largeur disponible */
}

/* Bouton Modifier */
.btn-modif {
    width: 50%;
    background-color: #1A237E; /* Fond bleu */
    color: #ffffff; /* Texte blanc */
    font-weight: bold;
    padding: 3vw;
    font-size: 0.8rem;
    border-radius: 10vh; /* Bordure arrondie */
    cursor: pointer;
    margin: 10px auto; /* Centrer les boutons et ajouter un espacement */
    display: block; /* S'assurer que le bouton prend toute la largeur disponible */
}

/* Bouton Supprimer le profil */
.btn-suppr_profil {
    width: 50%;
    background-color: #ffffff; /* Fond blanc */
    color: red; /* Texte rouge */
    font-weight: bold;
    padding: 1.5vw;
    font-size: 0.8rem;
    border: 2px solid red; /* Bordure rouge */
    border-radius: 10vh; /* Bordure arrondie */
    cursor: pointer;
    margin: 10px auto; /* Centrer les boutons et ajouter un espacement */
    display: block; /* S'assurer que le bouton prend toute la largeur disponible */
}
