/* Style pour le bouton de déconnexion : couleur de fond blanche, texte bleu, bordure bleue et bord arrondi */
.btn-deconnexion {
    width: 50%;
    background-color: #ffffff;
    color: #1A237E;
    font-weight: bold;
    padding: 3vw;
    font-size: 1rem;
    border: 2px solid #1A237E;
    border-radius: 10vh;
    cursor: pointer;
    margin: 10px auto;
    display: block;
}

/* Style pour le bouton de modification : fond bleu, texte blanc, bord arrondi */
.btn-modif {
    width: 50%;
    background-color: #1A237E;
    color: #ffffff;
    font-weight: bold;
    padding: 3vw;
    font-size: 0.8rem;
    border-radius: 10vh;
    cursor: pointer;
    margin: 10px auto;
    display: block;
}

/* Style pour le bouton de suppression du profil : fond blanc, texte et bordure rouge, bord arrondi */
.btn-suppr_profil {
    width: 50%;
    background-color: #ffffff;
    color: red;
    font-weight: bold;
    padding: 1.5vw;
    font-size: 0.8rem;
    border: 2px solid red;
    border-radius: 10vh;
    cursor: pointer;
    margin: 10px auto;
    display: block;
}
