.notif h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 3vh 8vw 0 8vw;
    color: #1A237E;
    text-align: left; /* Assure que le texte est aligné à gauche */
}

.choix_actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.choix_actions .titre {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 8vw 0 8vw;
    color: #1A237E;
    text-align: left;
}

.bloc_rectangles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 35, 126, 0.2); /* Fond semi-transparent */
    backdrop-filter: blur(8px); /* Flou */
    display: flex;
    justify-content: center;  /* Centrer horizontalement */
    align-items: flex-start;  /* Aligner le contenu vers le haut */
    padding-top: 10vh;  /* Décaler le contenu un peu vers le bas */
    z-index: 1000; 
  }
  

.modal-content {
    background: white;
    padding: 3vw;
    border-radius: 20px;
    width: 70vw;
    text-align: left;
    position: relative;
  }

  .btn-fermer {
    bottom: 10px;  /* Positionner le bouton en bas de la fenêtre modale */
    width: 8vw;  /* Taille responsive */
    height: 8vw;  /* Hauteur équivalente */
    border-radius: 100px;  /* Bordures arrondies */
    background-color: #ccc;  /* Fond gris clair */
    color:white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;  /* Taille de l'icône croix */
    margin-top: 2vh;
  }
  
  .connecter_bis{
    width: 100%;
    background-color: #eecfcf;
    color: #1A237E;
    font-weight: bold;
    padding: 14px;
    font-size: 1.1rem;
    border: none;
    border-radius: 10vh;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .bloc_rectangles_objet {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    width: 80%;
  }