/* Style de la rectangle */
.rectangle {
  /* Définit la taille, la forme, l'espacement et l'alignement du rectangle */
  width: 90vw;
  min-height: 15vh;
  height: auto;
  margin: 11px auto;
  border-radius: 20px;
  color: #1A237E;
  padding: 4% 8%;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column; /* Aligne les éléments en colonne */
  align-items: flex-start; /* Aligne le texte à gauche */
  position: relative;
}

/* Style de la case à cocher */
.checkbox {
  /* Définit l'espacement et la taille de la case à cocher */
  margin-right: 10%;
  transform: scale(1.5);
}

/* Conteneur de la case à cocher et du texte */
.contener_check {
  /* Aligne la case à cocher à gauche et le texte à droite */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* Style du texte contenu dans le rectangle */
.text-content {
  /* Aligne le titre et le texte verticalement */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

/* Style du titre dans le rectangle */
.rectangle h2 {
  font-weight: bold;
  margin: 0;
  font-size: 100%;
}

/* Style du texte petit dans le rectangle */
.petit_text {
  font-size: 80%;
  margin: 5px 0;
}

/* Style de la date dans le rectangle */
.date_rect {
  font-size: 70%;
  margin-bottom: 10px;
}

/* Style du bouton d'ajout */
.bouton_ajout {
  /* Définit la taille, l'espacement et l'alignement du bouton d'ajout */
  width: 25vw;
  min-height: 8vh;
  height: auto;
  margin: 1vh auto;
  border-radius: 20px;
  color: white;
  border-color: #1A237E;
  padding: 2% 6%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style du texte dans le bouton d'ajout */
.bouton_ajout h2 {
  font-weight: bold;
  margin: 0;
  font-size: 100%;
}

/* Style de l'encadré de boutons */
.encadre_boutons {
  /* Définit l'alignement et l'apparence de l'encadré des boutons */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 50px;
  padding: 5px;
  width: 80vw;
  margin: 2vh auto;
  left: 50%;
  top: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style des boutons individuels dans l'encadré */
.bouton_int {
  /* Définit l'espacement, l'apparence et l'interaction des boutons */
  flex: 1;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: #666;
}

/* Style du bouton actif */
.bouton_int.active {
  background-color: white;
  color: black;
  font-weight: bold;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Style de la séparation entre les boutons */
.sep {
  color: gray;
  font-weight: bold;
  margin: 2vw;
}

/* Style du bouton checkbox */
.checkbox-button {
  /* Positionne le bouton et définit son apparence */
  position: absolute;
  bottom: 10%;
  right: 5%;
  background-color: #1A237E;
  color: white;
  font-weight: bold;
  padding: 3vw;
  font-size: 0.8rem;
  border: none;
  border-radius: 10vh;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Style du deuxième bouton checkbox */
.checkbox-button_2 {
  /* Positionne et stylise le second bouton checkbox avec une bordure */
  position: absolute;
  bottom: 10%;
  right: 5%;
  background-color: transparent;
  color: #1A237E;
  font-weight: bold;
  border-width: 2px;
  border-color: #1A237E;
  padding: 2vw;
  font-size: 0.6rem;
  border-style: solid;
  border-radius: 10vh;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Style de la description de l'événement */
.description_event{
  /* Définit l'apparence générale et la disposition de la description de l'événement */
  width: 90vw;
  min-height: 15vh;
  height: auto;
  margin: 11px auto;
  border-radius: 20px;
  color: #1A237E;
  background-color: #CFEFEC;
  padding: 4% 8%;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

/* Style spécifique pour les événements */
.event-rectangle {
  padding: 4% 8%; /* Ajuste l'espacement intérieur */
  background-color: #f0f8ff; /* Couleur de fond claire pour les événements */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour plus de visibilité */
}

/* Effet au survol des événements (bordure et ombre) */
.event-rectangle:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2); /* Augmenter l'ombre au survol */
  transform: scale(1.02); /* Léger effet d'agrandissement au survol */
}

/* Bouton "Voir l'événement" */
.event-info-button {
  background-color: transparent; /* Par défaut, transparent */
  color: #1A237E; /* Texte bleu */
  font-weight: bold;
  padding: 1vw 3vw;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  border: 2px solid #1A237E; /* Bordure bleue */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Si l'utilisateur est associé (le bouton devient bleu avec texte blanc) */
.event-info-button.associe {
  background-color: #1A237E; /* Fond bleu */
  color: white; /* Texte blanc */
  border-color: #1A237E; /* Bordure bleu foncé */
}

.event-info-button:hover {
  background-color: #EBACAC; /* Changer la couleur au survol */
  color: #1A237E; /* Texte bleu au survol */
  border-color: #EBACAC; /* Bordure rouge clair au survol */
}

